/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
a {
    text-decoration: none;
    color: #007BFF;
}
a:hover {
    color: #0056b3;
}
header {
    background-color: black;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
}
header img {
    position: absolute;
    left: 68px;
    top: 53%;
    transform: translateY(-50%);
    height: 70px;
}
header h1 {
    margin: 0;
    font-size: 2.5rem;
    display: inline-block;
}
nav {
    background-color: #444;
    overflow: hidden;
}
nav a {
    display: inline-block;
    padding: 15px 20px;
    color: #fff;
    text-align: center;
}
nav a:hover {
    background-color: #555;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}
section {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-item {
    flex: 1;
    min-width: 250px;
    margin: 10px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.flex-item img {
    max-width: 100%;
    border-radius: 8px;
}
.flex-item p {
    margin: 10px 0;
}